<!-- table.html -->
{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block title %}損傷一覧{% endblock title %}
{% block h1 %}損傷一覧{% endblock %}

{% block content %}

<style>
    /* モーダルのスタイル */
    .modal {
        display: none; 
        position: fixed; 
        z-index: 1; 
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto; 
        background-color: rgba(0, 0, 0, 0.4); 
        display: flex; /* 中央寄せのための追加 */
        justify-content: center; /* 横方向の中央寄せ */
        align-items: center; /* 縦方向の中央寄せ */
    }
    
    .modal-content {
        position: relative;
        background-color: #fefefe;
        padding: 20px;
        border: 1px solid #888;
        width: 60%; /* 横幅を変更 */
        max-width: 800px; /* 最大横幅を変更 */
        height: 60%; /* 縦幅を変更 */
        max-height: 600px; /* 最大縦幅を変更 */
        overflow-y: auto; /* 内部の縦スクロールを有効にする */
    }
    
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    /* 読み取り専用と編集可能の入力欄のスタイル */
    .readonly-field, .editable-field {
        max-height: 300px;
        overflow-y: auto;
    }
</style>

{# ここで径間ボタンを生成 #}
<form action="{% url 'bridge-table' object.infra.article.pk object.infra.pk %}">
    {% for button in buttons %}
    <button name="search_title_text" value="{{ forloop.counter }}径間">{{ forloop.counter }}径間</button>
    {% endfor %}
</form>
{# HTMLのtableタグのルールとして、table系のタグ以外(formタグなど)が使われた時、中の要素だけ外に追い出される。 #}
<table class="my-table" border="1">
    <thead>
        <tr>
            <th>損傷状況</th>
            <th>損傷写真</th>
        </tr>
    </thead>
    <tbody id="sortable">
        {% for group in grouped_data %}
        <tr>
            
                {% csrf_token %}
                <td>
                    <div style="border: 1px solid black; padding: 5px; margin-bottom: 10px; width: 450px;">
                        {% for bridge in group %}

                        {% ifchanged %} <!-- 前のループと違う値の場合に出力 -->
                        <span style="background-color: Pink;">{{ bridge.parts_name }}</span> <!-- first項目に色付け -->
                        <br>
                        {% endifchanged %}
                        {{ bridge.damage_name }}
                        {% if "NON-a" not in bridge.damage_name %} <!-- NON-aを含まない場合 -->
                            <br>
                            <div style="display: flex; gap: 5px; align-items: center;">
                            <select id="measurement-{{ bridge.id }}" name="measurement" placeholder="名称" onChange="updatePlaceholder(this)" style="height:30px; resize: none;">{{ bridge.damage_size|default:"" }}<>
                                <option value=""></option>
                                <option value="width">幅</option>
                                <option value="area">面積</option>
                                <option value="bolt">本数</option>
                                <option value="level">段差量</option>
                            </select>
                            <textarea type="text" id="damage_size-{{ bridge.id }}"    name="damage_size"    placeholder="数量" style="height:30px; width: 130px; resize: none;">{{ bridge.damage_size|default:"" }}</textarea> {% comment %} overflow-x: scroll; white-space: nowrap; {% endcomment %}
                            <textarea type="text" id="unit-{{ bridge.id }}"           name="unit"           placeholder="単位" style="height:30px; width: 60px; resize: none;">{{ bridge.unit|default:"" }}</textarea>
                            <textarea type="text" id="classification-{{ bridge.id }}" name="classification" placeholder="分類" style="height:30px; width: 60px; resize: none;">{{ bridge.classification|default:"" }}</textarea>
                            <textarea type="text" id="pattern-{{ bridge.id }}"        name="pattern"        placeholder="パターン" style="height:30px; width: 100px; resize: none;">{{ bridge.pattern|default:"" }}</textarea>
                            </div>
                        {% else %}
                        <br>
                        {% endif %}
                        {% endfor %}
                        <br>
                        <input type="hidden" name="parts_name" value="{{ bridge.parts_name }}">
                        <input type="hidden" name="damage_name" value="{{ bridge.damage_name }}">
                        <input type="hidden" name="coords" value="{{ bridge.damage_coordinate_x }},{{ bridge.damage_coordinate_y }}">
                        <input type="hidden" name="new_text">
                        <input type="hidden" name="join" value="{{ bridge.join }}">
                        <button type="button" onclick="editData(this)">変更</button>
                        <button type="button" onclick="deleteData(this)">削除</button>

                        {% comment %} <form method="POST" action="{% url 'edit_report_data' bridge.id %}" class="edit-form">
                            {% csrf_token %}
                        </form> {% endcomment %}
                    </div>
                </td>
                {% for bridge in group %}
                {% if forloop.first %}
                <td class="center-align">
                    <ul class="vert"> 
                        {% if bridge.this_time_picture is not None %}
                        {% for picture in bridge.this_time_picture|split_comma %}
                        <p>{{ picture }}</p>
                            <ul class="side">
                                <li style="top-bottom: 5px; margin-bottom: 5px;"> <!-- ここで下部の空間を指定 -->
                                    <div style="display: flex; align-items: center;"> <!--align-items: center; 縦の中央に配置-->
                                    
                                        <div>
                                            <img id="uploaded-image-{{ forloop.parentloop.counter }}" src="{% static picture.strip %}" width="200" height="150" style="margin:0 10px;">
                                        </div>{% comment %} src="{{ picture|remove_prefix:'/infra/static' }}" {% url 'serve_image' picture %} strip:先頭と末尾から空白を取り除く {% endcomment %}
                                    
                                        <div style="display: flex; flex-direction: column; justify-content: center;"> <!--justify-content: center; ボタンを縦の中央に配置-->
                                            <input id="upload-file-{{ forloop.parentloop.counter }}" name="upload-file" type="file" style="display: none">
                                            <button id="fileSelect-{{ forloop.parentloop.counter }}" type="button" style="margin-bottom: 10px;" value="{% static this_time_picture_item %}">変更</button><!--bottom(下方向)に10pxの間隔を空ける-->
                                            <button style="margin-bottom: 10px;">追加</button>
                                            <button>削除</button> <!--縦文字に変更-->
                                        </div>
                                    </div>
                                </li>
                                <li style="top-bottom: 5px; margin-bottom: 5px;"> <!-- ここで下部の空間を指定 -->
                                    <div style="display: flex; align-items: center;"> <!--align-items: center; 縦の中央に配置-->
                                        <div>
                                        {% if bridge.last_time_picture is None %}
                                            <img id="before-image" src="{% static 'infra/noImage.png' %}" width="200" height="150" style="margin:0 10px; border: 1px solid grey;">
                                        {% else %}
                                            <img id="before-image" src="{% static bridge.last_time_picture %}" width="200" height="150" style="margin:0 10px; border: 1px solid grey;">
                                        {% endif %}
                                        </div>
                                        <div style="display: flex; flex-direction: column; justify-content: center;"> <!--justify-content: center; ボタンを縦の中央に配置-->
                                            <input id="upload-file" name="upload-file" type="file" style="display: none">
                                            <button id="fileSelect" type="button" style="margin-bottom: 10px;" value="{% static item %}">変更</button>
                                            <!--<button id="fileSelect" type="button" style="margin-bottom: 10px;" value="{% static item %}">変更</button>-->
                                            <!--<button style="margin-bottom: 10px;">変更</button> bottom(下方向)に10pxの間隔を空ける-->
                                            <button>削除</button>
                                        </div>
                                    </div>
                                </li>
                                <li style="top-bottom: 5px; margin-bottom: 5px;"> <!-- ここで下部の空間を指定 -->
                                    {% spaceless %}
                                        {% if bridge.textarea_content %} <!-- damage_tableのforループ(bridge)とviews.pyのtextarea_content-->
                                            <textarea name="notes" rows="6" style="margin:0 10px;">{{ bridge.textarea_content|safe }}</textarea>
                                        {% else %}
                                            <textarea name="notes" rows="6" style="margin:0 10px;" placeholder="写真メモを入力してください。"></textarea>
                                        {% endif %}
                                    {% endspaceless %}
                                </li>
                            </ul>
                        {% endfor %}
                        {% endif %}
                        
                    </ul>
                
                </td>
                {% endif %}
                {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- カスタムモーダル -->
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div>
            <div class="readonly-field" style="pointer-events: none;">
                <label for="readonly_join">読み取り専用:</label>
                <input type="text" id="readonly_join" readonly style="width: 100%;">
            </div>
            <div class="editable-field">
                <label for="editable_join">編集可能:</label>
                <textarea id="editable_join" style="width: 100%;"></textarea>
            </div>
            <button id="saveChangesButton">保存</button>
        </div>
    </div>
</div>
<script>
//保存ボタンを押さなくてもデータを保存する(リアルタイム保存)
$(document).ready(function(){
    // AJAXリクエストを送信する関数
    function saveField(fieldName, fieldValue, itemId) {
        $.ajax({
            type: 'POST',
            url: "/update_full_report_data/" + itemId + "/",
            data: {
                [fieldName]: fieldValue,  // フィールド名をキーとして使用
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response) {
                if (response.status === 'success') {
                    console.log(fieldName + "を保存しました。");
                } else {
                    console.log(fieldName + "の保存時にエラーが発生しました。");
                }
            },
            error: function(xhr, status, error){
                console.error(fieldName + "の保存時にエラーが発生しました。サーバ側のエラーなどを確認してください。");
            }
        });
    }

    // 各フィールドにイベントリスナーを追加
    $('textarea[name="damage_size"], textarea[name="measurement"], textarea[name="classification"], textarea[name="pattern"]').on('input', function() {
        let fieldValue = $(this).val(); // フィールドの入力値を取得
        let fieldName = $(this).attr('name');  // フィールド名を取得（damage_size、measurementなど）
        let itemId = $(this).attr('id').split('-')[1];  // IDの形式が `fieldname-itemId` であると仮定
        saveField(fieldName, fieldValue, itemId);
    });
});
// カスタムモーダル
document.addEventListener('DOMContentLoaded', function() {
    var modal = document.getElementById("myModal");
    var span = document.getElementsByClassName("close")[0];
    var saveButton = document.getElementById("saveChangesButton");

    // モーダル閉じるためのイベントリスナー
    span.onclick = function() {
        modal.style.display = "none";
    }

    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

    saveButton.onclick = function() {
        var editableJoin = document.getElementById("editable_join").value;
        var currentDiv = document.getElementById("currentDiv");
        currentDiv.querySelector('input[name="new_text"]').value = editableJoin;
        modal.style.display = "none";
        currentDiv.querySelector('form').submit();
    }

    modal.style.display = "none";
});

// モーダルを表示させる関数
function editData(button) {
    var div = button.closest('div');
    div.id = "currentDiv"; // 一時的にこのdivにidを付与

    var joinValue = div.querySelector('input[name="join"]').value;
    document.getElementById("readonly_join").value = joinValue;
    document.getElementById("editable_join").value = joinValue;

    var modal = document.getElementById("myModal");
    modal.style.display = "block";
}

function deleteData(button) {
    if (confirm("本当に削除しますか？")) {
        var form = button.closest('form');
        form.submit();
    }
}
// 写真を変更する際にサーバーに送信
{% comment %} document.addEventListener("DOMContentLoaded", function() {
    document.querySelectorAll('button[id^="fileSelect-"]').forEach((button, index) => {
        button.addEventListener('click', function() {
            document.getElementById(`upload-file-${index + 1}`).click();
        });

        let uploadInput = document.getElementById(`upload-file-${index + 1}`);
        uploadInput.addEventListener('change', function() {
            let formData = new FormData();
            formData.append('upload-file', uploadInput.files[0]);
            formData.append('bridge_id', button.value);  // バリューとしてBridgeのIDを送信します。

            fetch("{% url 'ajax_file_send' %}", {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.upload_file_url) {
                    document.getElementById(`uploaded-image-${index + 1}`).src = data.upload_file_url;
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    });
}); {% endcomment %}
</script>

{% endblock content %}