{% extends "base.html" %}

{% block title %}{{ object.title }}{% endblock title %}
{% block h1 %}橋梁緒言{% endblock %}

{% block content %}
<div class="sidebar">
  <p>インフラプロジェクト</p>
  <ul>
      <li><a href="1">橋梁緒言</a></li>
      <li><a href="2">一般図</a></li>
      <li><a href="3">全景写真</a></li>
      <li><a href="3">番号図</a></li>
      <li><a href="3">所見まとめ</a></li>
      <li><a href="3">各部材所見</a></li>
      <li><a href="3">損傷図</a></li>
      <li><a href="3">損傷写真</a></li>
      <li><a href="3">アップロード</a></li>
      <li><a href="3">データ出力</a></li>
  </ul>
  <div class="sidebar-toggle">
    <button class="btn btn-primary">sidebar</button>
  </div>
</div>
  <div class="p-4 m-4 bg-light border border-success rounded">
    <h2 class="text-success">{{ object.title }}</h2>
    <p>径間数：{{ object.径間数 }} 径間</p>
    <p>橋長：{{ object.橋長 }} m</p>
    <p>全幅員：{{ object.全幅員 }} m</p>
    <!--<p>緯度：{{ object.latitude }}</p>
    <p>経度：{{ object.longitude }}</p> -->
    <p>橋梁コード：{{ object.橋梁コード }}</p>
    <p>活荷重：{{ object.活荷重 }}</p>
    <form method="POST" action="{% url 'detail-infra' object.pk %}">
      {% csrf_token %}
      <button type="submit" name="活荷重" value="live_load_a">A活荷重</button>
      <button type="submit" name="活荷重" value="live_load_b">B活荷重</button>
      <button type="submit" name="活荷重" value="tl20">TL-20</button>
      <button type="submit" name="活荷重" value="tl12">TL-12</button>
      <button type="submit" name="活荷重" value="tl6">TL-6</button>
    </form>
    <p>等級：{{ object.等級 }}</p>
    <form method="POST" action="{% url 'detail-infra' object.pk %}">
      {% csrf_token %}
      <button type="submit" name="等級" value="one">一等橋</button>
      <button type="submit" name="等級" value="two">二等橋</button>
      <button type="submit" name="等級" value="three">三等橋</button>
      <button type="submit" name="等級" value="unknown">不明</button>
    </form>
    <p>適用示方書：{{ object.適用示方書 }}</p>
    <p>上部構造形式：{{ object.上部構造形式 }}</p>
    <p>下部構造形式：{{ object.下部構造形式 }}</p>
    <p>基礎構造形式：{{ object.基礎構造形式 }}</p>
    <p>近接方法：{{ object.近接方法 }}</p>
    <form method="POST" action="{% url 'detail-infra' object.pk %}">
      {% csrf_token %}
      <button type="submit" name="近接方法" value="ground">地上</button>
      <button type="submit" name="近接方法" value="ladder">梯子・脚立</button>
      <button type="submit" name="近接方法" value="work_heights">高所作業車</button>
      <button type="submit" name="近接方法" value="bridge_inspection">橋梁点検車</button>
      <button type="submit" name="近接方法" value="rail_lnd">軌陸車</button>
      <button type="submit" name="近接方法" value="boat">ボート・船舶</button>
    </form>
    <p>交通規制：{{ object.交通規制 }}</p>
    <form method="POST" action="{% url 'detail-infra' object.pk %}">
      {% csrf_token %}
      <button type="submit" name="交通規制" value="none">無し</button>
      <button type="submit" name="交通規制" value="one_side">片側交互通行</button>
      <button type="submit" name="交通規制" value="decrease">車線減少</button>
      <button type="submit" name="交通規制" value="sidewalk">歩道規制</button>
      <button type="submit" name="交通規制" value="road_side">路肩規制</button>
      <button type="submit" name="交通規制" value="stop">通行止め</button>
    </form>
    <p>第三者点検の有無：{{ object.第三者点検の有無 }}</p>
    <form method="POST" action="{% url 'detail-infra' object.pk %}">
      {% csrf_token %}
      <button type="submit" name="第三者点検の有無" value="yes">対象</button>
      <button type="submit" name="第三者点検の有無" value="no">対象外</button>
    </form>
    <p>海岸線との距離：{{ object.海岸線との距離 }} m</p>
    <p>路下条件：{{ object.路下条件 }}</p>
    <p>特記事項：{{ object.特記事項 }}</p>
    
    <!-- Google Maps表示用のdiv -->
    <div id="map" style="height: 400px; width: 100%;"></div>
    
    <!-- 緯度と経度と住所を表示する要素(result) -->
    <div id="result"></div>
    
    <!-- Google Maps JavaScript APIの非同期読み込み -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASpyfsrPZqSHakMucUwlG3qsVC_YpFRHY&callback=initMap" async defer></script>

    <!-- initMap関数の定義 -->
    <script>
      function initMap() {
        var tokyoCoords = {lat: 35.6812, lng: 139.7670};
        var map = new google.maps.Map(document.getElementById('map'), {
          center: tokyoCoords,
          zoom: 12
        });

        // マーカーを作成
        var marker = new google.maps.Marker({
          //position: {lat: {{ object.latitude }}, lng: {{ object.longitude }}},
          position: {lat: 35.6812, lng: 139.7670}, // 東京駅の座標
          map: map,
          draggable: true
        });

        // マーカーのドラッグ終了時のイベントリスナー
        google.maps.event.addListener(marker, 'dragend', function(event) {
          var lat = event.latLng.lat();
          var lng = event.latLng.lng();

          // 東京駅の座標を設定
        if (!lat || !lng) {
          lat = 35.6812;
          lng = 139.7670;
        }

          document.getElementById('result').innerHTML = '緯度: ' + lat + '<br>経度: ' + lng;
        });

        // マップをクリックした時のイベントリスナー
        google.maps.event.addListener(map, 'click', function(event) {
          // クリックされた位置にマーカーを移動
          marker.setPosition(event.latLng);

          // クリックされた位置の緯度経度を取得
          var lat = event.latLng.lat();
          var lng = event.latLng.lng();

          // 逆ジオコーディングを行う関数
          function geocodeLatLng(lat, lng) {
            var geocoder = new google.maps.Geocoder();
            var latlng = {lat: parseFloat(lat), lng: parseFloat(lng)};

            geocoder.geocode({ 'location': latlng }, function(results, status) {
              if (status === 'OK') {
                if (results[0]) {
                  var formattedAddress = results[0].formatted_address; //逆ジオコーディングで住所を求める箇所([0]は戻り値になるため、触れない)
                  document.getElementById('result').innerHTML = '緯度: ' + lat + '<br>経度: ' + lng + '<br>住所: ' + formattedAddress; //getElement=resultで表示
                } else {
                  window.alert('No results found');
                }
              } else {
                window.alert('Geocoder failed due to: ' + status);
              }
            });
          }

          // 逆ジオコーディング関数呼び出し
          geocodeLatLng(lat, lng);
        });
      }
    </script>
    <script>
      function handleOrderChange() {
                  // プルダウンメニューが変更されたときの処理をここに追加
                  var orderSelect = document.getElementById("order_by");
                  var selectedValue = orderSelect.value;
    
                  // 選択された値を使って何かしらの処理を行う（例：Ajaxでデータを取得するなど）
                  console.log("選択された値: ", selectedValue);
              }
      var sidebar = document.querySelector('.sidebar');
      var sidebarToggle = document.querySelector('.sidebar-toggle');
    
      sidebarToggle.addEventListener('click', function() {
                  sidebar.classList.toggle('open');
              });
              
              function stickySidebar() {
                var sidebar = document.querySelector('.sidebar');
                var sidebarTop = sidebar.getBoundingClientRect().top;
                var windowTop = window.pageYOffset || document.documentElement.scrollTop;
              
                if (windowTop > sidebarTop && windowTop > 0) {
                  sidebar.style.position = 'fixed';
                  // サイドバーの位置やスタイルを調整する必要がある場合は、適宜追加の処理を行ってください
                } else {
                  // sidebar.style.position = 'static';
                  // サイドバーの位置やスタイルを調整する必要がある場合は、適宜追加の処理を行ってください
                }
              }
              
              // スクロールイベントを監視して、サイドバーの位置を動的に変更する
              window.addEventListener('scroll', function() {
                stickySidebar();
              });
              
    </script>
    <a href="{% url 'list-infra' object.pk %}" class="btn btn-primary">一覧</a>
    <a href="{% url 'update-infra' object.pk %}" class="btn btn-primary">編集</a>
    <a href="{% url 'delete-infra' object.pk %}" class="btn btn-primary">削除</a>
    <h6 class="card-title">{{ object.カテゴリー }}</h6>
  </div>
  
{% endblock content %}
