<!-- image_list.html -->
{% extends "base.html" %}

{% block title %}画像一覧{% endblock title %}
{% block h1 %}画像一覧{% endblock %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script><!--jQueryを読み込み-->
<div class="row">
    {% load static %}
    {% for image_file in image_files %}
        <div class="col-md-4">
            <div class="picture img">
                <img src="{% static image_file %}" width="50px" >
                <div class="caption">
                    <textarea id="comment-{{ forloop.counter0 }}" class="form-control" rows="6" placeholder="コメントを入力してください"></textarea>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<a href="{% url 'image_list'%}" class="btn btn-primary">写真選択</a>
<script>
    // テキストボックスの内容が変更されたときに自動保存を行う関数
    function autoSave(commentId) {
        var comment = document.getElementById(commentId).value;
        localStorage.setItem(commentId, comment);
    }
    
    // ページ読み込み時に保存されたコメントを復元する処理
    window.onload = function () {
        {% for image_file in image_files %}
            var savedComment = localStorage.getItem("comment-{{ forloop.counter0 }}");
            if (savedComment) {
                var commentTextarea = document.getElementById("comment-{{ forloop.counter0 }}");
                commentTextarea.value = savedComment;
            }
        {% endfor %}
    };
    
    // テキストボックスの内容が変更されたときに自動保存関数を呼び出す
    {% for image_file in image_files %}
        var commentTextarea{{ forloop.counter0 }} = document.getElementById("comment-{{ forloop.counter0 }}");
        commentTextarea{{ forloop.counter0 }}.addEventListener("input", function () {
            autoSave("comment-{{ forloop.counter0 }}");
        });
    {% endfor %}
</script>
{% endblock content %}