<!-- opinion.html -->
{% extends "base.html" %}
{% load static %}

{% block title %}所見一覧{% endblock title %}
{% block h1 %}所見一覧{% endblock %}

{% block content %}
<style>
  table {
    border-collapse: collapse;  /* セルの重複枠線を取り除く */
    width: 100%;
  }
  th, td {
    border: 1px solid black;  /* 枠線の追加 */
    padding: 8px;  /* 内側の余白 */
    text-align: center;  /* テキスト中央揃え */
  }
  table.bordered-table th {
    background-color: #f2f2f2;  /* ヘッダーの背景色 */
  }

  .col-1 { width: 1%; } /* ● */
  .col-2 { width: 7%; } /* 主桁 01 */
  .col-3 { width: 15%; } /* 腐食(b,e) */
  .col-4 { width: 20%; } /* 写真 */
  .col-5 { width: 10%; } /* ボタン(B~E1) */ /*13%が限界*/
  .col-6 { width: 45%; } /* ボタン(原因) */
  .col-7 { width: 10%; } /* 所見 */
  
  .judge-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* ボタン間の隙間を設定 */
    justify-content: center; /* コンテナー内でボタンを中央に配置 */
  }
  .judge-container button {
    width: 35px; /* 横幅を35pxに固定 */
    height: 35px; /* 高さを35pxに固定 */
    box-sizing: border-box; /* パディングとボーダーを含めてサイズを計算 */
    text-align: center; /* ボタン内のテキストを中央に配置 */
    flex: 0 0 auto; /* フレックスアイテムの伸縮を禁止し、設定したサイズを適用 */
  }

  /* ボタンの枠線、中の色を指定 */
  .btn {
    background-color: #4CAF50; /* ボタンの背景色 */
    border: 2px solid black; /* ボタンの枠線の色と太さ */
    color: white; /* ボタンの文字色 */
    padding: 0; /* ボタン内のパディングをリセット */
    text-align: center; /* 文字の位置 */
    text-decoration: none; /* テキストの下線を消す */
    display: inline-flex; /* ボタンをフレックスコンテナに */
    align-items: center; /* 垂直方向の中央揃え */
    font-size: 16px; /* 初期フォントサイズ */
    cursor: pointer; /* ポインタを指マークに */
    width: 120px; /* ボタンの幅を指定 */
    height: 30px; /* ボタンの高さを指定 */
    box-sizing: border-box; /* パディングとボーダーを含めたサイズ計算 */
    white-space: nowrap; /* テキストの折り返しを無効にする */
    overflow: hidden; /* テキストがはみ出さないようにする */
    /* 中央揃えのためのCSS */
    line-height: 30px; /* テキストの行間をボタンの高さと同じにする */
    vertical-align: middle; /* テキストの垂直方向の位置を中央に */
  }
  /* ホバー時（カーソルを合わせたとき）のボタンスタイル */
  .btn:hover {
      background-color: #FF9900; /* ホバー時の背景色をオレンジに変更 */
      /* border: 2px solid #FF9900; ボタンの枠線の色もオレンジに変更 */
      color: white; /* ボタンの文字色 */
  }
  /* ボタンを横並びにする */
  .button-container {
      display: flex; /* フレックスボックスを使用 */
      flex-wrap: wrap; /* 幅に収まりきらない場合は折り返す */
      justify-content: space-between; /* ボタンの間隔を均等にする */
      gap: 10px; /* 横並びのボタン間のギャップを設定 */
  }
  .selected {
    background-color: #FF9900; /* 選択時の色を指定 */
    color: white; /* テキストの色を指定 */
  }
  .image-scroll-container {
    display: flex; /* 高さを揃えて横並び */
    overflow-x: auto; /* 水平方向のスクロールバーを表示 */
    white-space: nowrap; /* 折り返さず1行で表示 */
    max-width: 500px; /* 必要に応じて幅を設定 */
    /* border: 2px solid #ccc; 枠線の色と太さを指定 */
    gap: 10px; /* 画像間のスペースを設定 */
    /* background-color: #f0f0f0;  背景色を設定 */
    padding: 10px; /* コンテナの内側に余白を設定 */
  }
  
  .image-scroll-container img {
    max-width: 200px; /* 各画像の最大幅を設定 */
    height: auto; /* 高さを自動調整 */
    background-color: #fff; /* 画像背景に色を設定 */
  }
  .center-justify {
    justify-content: center; /* 中央揃えにする */
  }
</style>

{% comment %}
{# ここで径間ボタンを生成 #}
<form action="{% url 'observations-list' object.infra.article.pk object.infra.pk %}">
  {% for button in buttons %}
  <button name="search_title_text" value="{{ forloop.counter }}径間">{{ forloop.counter }}径間</button>
  {% endfor %}
</form>
{# HTMLのtableタグのルールとして、table系のタグ以外(formタグなど)が使われた時、中の要素だけ外に追い出される。 #}
{% endcomment %}
<table class="bordered-table">
  <thead>
    <tr>
        <th class="col-1">主要部材</th>
        <th class="col-2">損傷箇所</th>
        <th class="col-3">損傷種類</th>
        <th class="col-4">損傷写真</th>
        <th class="col-5">対策区分</th>
        <th class="col-6">損傷原因</th>
        <th class="col-7">所見</th>
    </tr>
  </thead>
  <tbody>
    {% for item in data %}
    <tr>
        <td id="parts_name_{{ forloop.counter }}">{{ item.main_parts }}</td>
        <td id="parts_name_{{ forloop.counter }}">{{ item.parts_name }}</td>
        <td id="damage_name_{{ forloop.counter }}">{{ item.damage_name }}<br> [ {{ item.damage_max_lank }} ～ {{ item.damage_min_lank }} ]</td>
        <td>
          <div class="image-scroll-container">
            {% if item.this_time_picture %}
              {% for this_time_picture in item.this_time_picture %}
                <img id="photo_{{ forloop.counter }}" src="{% static this_time_picture %}" alt="損傷写真">
              {% endfor %}
            {% else %}
              <img src="{% static 'infra/noImage.png' %}" alt="サンプル画像">
            {% endif %}
          </div>
        </td>
        <td>
          <div class="judge-container">
            <button id="{{ forloop.counter }}" data-judge="B">B</button>
            <button id="{{ forloop.counter }}" data-judge="M">M</button>
            <button id="{{ forloop.counter }}" data-judge="C1">C1</button>
            <button id="{{ forloop.counter }}" data-judge="S1">S1</button>
            <button id="{{ forloop.counter }}" data-judge="C2">C2</button>
            <button id="{{ forloop.counter }}" data-judge="S2">S2</button>
            <button id="{{ forloop.counter }}" data-judge="E2">E2</button>
            <button id="{{ forloop.counter }}" data-judge="E1">E1</button>
          </div>
        </td>
        <td>
          <div class="button-container">
            <button id="btn{{ forloop.counter }}-1" class="btn">疲労</button>
            <button id="btn{{ forloop.counter }}-2" class="btn">塩害</button>
            <button id="btn{{ forloop.counter }}-3" class="btn">凍害</button>
            <button id="btn{{ forloop.counter }}-4" class="btn">アルカリ骨材反応</button>
            <button id="btn{{ forloop.counter }}-5" class="btn">中性化</button>
            <button id="btn{{ forloop.counter }}-6" class="btn">材料劣化</button>
            <button id="btn{{ forloop.counter }}-7" class="btn">想定外の荷重</button>
            <button id="btn{{ forloop.counter }}-8" class="btn">衝突</button>
            <button id="btn{{ forloop.counter }}-9" class="btn">偏土圧・圧密沈下</button>
            <button id="btn{{ forloop.counter }}-10" class="btn">洗掘・浸食</button>
            <button id="btn{{ forloop.counter }}-11" class="btn">地震</button>
            <button id="btn{{ forloop.counter }}-12" class="btn">乾燥収縮・温度応力</button>
            <button id="btn{{ forloop.counter }}-13" class="btn">科学的腐食</button>
            <button id="btn{{ forloop.counter }}-14" class="btn">品質の経年変化</button>
            <button id="btn{{ forloop.counter }}-15" class="btn">製作・施工不良</button>
            <button id="btn{{ forloop.counter }}-16" class="btn">防水・排水工不良</button>
            <button id="btn{{ forloop.counter }}-17" class="btn">構造形式・形状不良</button>
            <button id="btn{{ forloop.counter }}-18" class="btn">人為的</button>
            <button id="btn{{ forloop.counter }}-19" class="btn">鳥害</button>
            <button id="btn{{ forloop.counter }}-20" class="btn">経年</button>
            <button id="btn{{ forloop.counter }}-21" class="btn">自由記述</button>
          </div>
        </td>
        <td>
            <textarea name="notes" rows="6" style="margin:0 10px;">点錆が見られる。</textarea>
        </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<script>
    // 写真が3枚未満の場合は中央揃えにする
    document.addEventListener("DOMContentLoaded", function() {
      var imageContainer = document.querySelector('.image-scroll-container');
      var images = imageContainer.querySelectorAll('img');
      
      if (images.length < 3) {
        imageContainer.classList.add('center-justify');
      }
    });
    // ボタンを押したときのアクション
    document.addEventListener('DOMContentLoaded', (event) => {
      // Judgeボタンについて
      document.querySelectorAll('.judge-container button').forEach(button => {
          button.addEventListener('click', (event) => {
              // 全ての兄弟要素の選択を解除
              event.target.parentNode.querySelectorAll('button').forEach(btn => {
                  btn.classList.remove('selected');
              });
              // クリックされたボタンに選択クラスを付与
              event.target.classList.add('selected');
          });
      });

      // Button-containerについて
      document.querySelectorAll('.button-container button').forEach(button => {
          button.addEventListener('click', (event) => {
              // 全ての兄弟要素の選択を解除
              event.target.parentNode.querySelectorAll('button').forEach(btn => {
                  btn.classList.remove('selected');
              });
              // クリックされたボタンに選択クラスを付与
              event.target.classList.add('selected');
          });
      });
    });
    // 特定のボタンを表示するヘルパー関数
    function showButtons(buttonIds) {
      buttonIds.forEach(id => {
          const button = document.getElementById(id);
          if (button) {
              button.style.display = 'block';
          }
      });
    }

    // 各行ごとのボタンの表示/非表示を切り替える関数
    function updateButtonVisibility(row, damageName, rowIndex) {
      const buttons = row.querySelectorAll('.btn');

      // 全てのボタンを非表示にする
      buttons.forEach(button => {
        button.style.display = 'none';
      });

      // damageNameの値によって表示するボタンを指定
      let buttonIds = [];
      if (damageName.includes('その他')) { // 17
        buttonIds = ['btn' + rowIndex + '-1', 'btn' + rowIndex + '-7', 'btn' + rowIndex + '-8', 'btn' + rowIndex + '-15', 'btn' + rowIndex + '-21'];
      } else {
        switch (damageName) {
          case '腐食': // 1
            buttonIds = ['btn' + rowIndex + '-6', 'btn' + rowIndex + '-8', 'btn' + rowIndex + '-13', 'btn' + rowIndex + '-14', 'btn' + rowIndex + '-15',
                        'btn' + rowIndex + '-16', 'btn' + rowIndex + '-18', 'btn' + rowIndex + '-19', 'btn' + rowIndex + '-21'];
            break;
          case '亀裂': // 2
            buttonIds = ['btn' + rowIndex + '-1', 'btn' + rowIndex + '-7', 'btn' + rowIndex + '-8', 'btn' + rowIndex + '-21'];
            break;
          case 'ゆるみ・脱落': // 3
            buttonIds = ['btn' + rowIndex + '-6', 'btn' + rowIndex + '-7', 'btn' + rowIndex + '-8', 'btn' + rowIndex + '-21'];
            break;
          case '破断': // 4
            buttonIds = ['btn' + rowIndex + '-6', 'btn' + rowIndex + '-7', 'btn' + rowIndex + '-8', 'btn' + rowIndex + '-21'];
            break;
          case '防食機能の劣化': // 5
            buttonIds = ['btn' + rowIndex + '-6', 'btn' + rowIndex + '-8', 'btn' + rowIndex + '-13', 'btn' + rowIndex + '-14', 'btn' + rowIndex + '-15',
                        'btn' + rowIndex + '-16', 'btn' + rowIndex + '-18', 'btn' + rowIndex + '-19', 'btn' + rowIndex + '-21'];
            break;
          case 'ひびわれ': // 6
            buttonIds = ['btn' + rowIndex + '-1', 'btn' + rowIndex + '-2', 'btn' + rowIndex + '-3', 'btn' + rowIndex + '-4', 'btn' + rowIndex + '-5',
                        'btn' + rowIndex + '-6', 'btn' + rowIndex + '-7', 'btn' + rowIndex + '-8', 'btn' + rowIndex + '-9', 'btn' + rowIndex + '-10',
                        'btn' + rowIndex + '-11', 'btn' + rowIndex + '-12', 'btn' + rowIndex + '-13', 'btn' + rowIndex + '-14', 'btn' + rowIndex + '-15',
                        'btn' + rowIndex + '-16', 'btn' + rowIndex + '-17', 'btn' + rowIndex + '-18', 'btn' + rowIndex + '-19', 'btn' + rowIndex + '-20',
                        'btn' + rowIndex + '-21'];
            break;
          case '剥離・鉄筋露出': // 7
          buttonIds = ['btn' + rowIndex + '-2', 'btn' + rowIndex + '-3', 'btn' + rowIndex + '-4', 'btn' + rowIndex + '-5', 'btn' + rowIndex + '-8',
                      'btn' + rowIndex + '-11', 'btn' + rowIndex + '-13', 'btn' + rowIndex + '-14', 'btn' + rowIndex + '-15', 'btn' + rowIndex + '-16',
                      'btn' + rowIndex + '-21'];
            break;
          case '漏水・遊離石灰': // 8
            buttonIds = ['btn' + rowIndex + '-6', 'btn' + rowIndex + '-7', 'btn' + rowIndex + '-8', 'btn' + rowIndex + '-21'];
            break;
          case '抜け落ち': // 9
            buttonIds = ['btn' + rowIndex + '-6', 'btn' + rowIndex + '-7', 'btn' + rowIndex + '-8', 'btn' + rowIndex + '-21'];
            break;
          case '補修・補強材の損傷': // 10
            buttonIds = ['btn' + rowIndex + '-1', 'btn' + rowIndex + '-7', 'btn' + rowIndex + '-8', 'btn' + rowIndex + '-21'];
            break;
          case '床版ひびわれ': // 11
            buttonIds = ['btn' + rowIndex + '-6', 'btn' + rowIndex + '-7', 'btn' + rowIndex + '-8', 'btn' + rowIndex + '-21'];
            break;
          case 'うき': // 12
            buttonIds = ['btn' + rowIndex + '-2', 'btn' + rowIndex + '-3', 'btn' + rowIndex + '-4', 'btn' + rowIndex + '-5', 'btn' + rowIndex + '-8',
                        'btn' + rowIndex + '-11', 'btn' + rowIndex + '-13', 'btn' + rowIndex + '-14', 'btn' + rowIndex + '-15', 'btn' + rowIndex + '-16',
                        'btn' + rowIndex + '-21'];
            break;
          case '遊間の異常': // 13
            buttonIds = ['btn' + rowIndex + '-1', 'btn' + rowIndex + '-2', 'btn' + rowIndex + '-3', 'btn' + rowIndex + '-4', 'btn' + rowIndex + '-5',
                        'btn' + rowIndex + '-6', 'btn' + rowIndex + '-7', 'btn' + rowIndex + '-8', 'btn' + rowIndex + '-9', 'btn' + rowIndex + '-10',
                        'btn' + rowIndex + '-11', 'btn' + rowIndex + '-12', 'btn' + rowIndex + '-13', 'btn' + rowIndex + '-14', 'btn' + rowIndex + '-15',
                        'btn' + rowIndex + '-16', 'btn' + rowIndex + '-17', 'btn' + rowIndex + '-18', 'btn' + rowIndex + '-19', 'btn' + rowIndex + '-20'];
            break;
          case '路面の凹凸': // 14
            buttonIds = ['btn' + rowIndex + '-1', 'btn' + rowIndex + '-7', 'btn' + rowIndex + '-8', 'btn' + rowIndex + '-21'];
            break;
          case '舗装の異常': // 15
            buttonIds = ['btn' + rowIndex + '-6', 'btn' + rowIndex + '-7', 'btn' + rowIndex + '-8'];
            break;
          case '支承部の機能障害': // 16
            buttonIds = ['btn' + rowIndex + '-6', 'btn' + rowIndex + '-7', 'btn' + rowIndex + '-8', 'btn' + rowIndex + '-21'];
            break;
          case 'その他': // 17
            buttonIds = ['btn' + rowIndex + '-1', 'btn' + rowIndex + '-7', 'btn' + rowIndex + '-8', 'btn' + rowIndex + '-21'];
            break;
          case '定着部の異常': // 18
            buttonIds = ['btn' + rowIndex + '-6', 'btn' + rowIndex + '-7', 'btn' + rowIndex + '-8', 'btn' + rowIndex + '-21'];
            break;
          case '変色・劣化': // 19
            buttonIds = ['btn' + rowIndex + '-6', 'btn' + rowIndex + '-7', 'btn' + rowIndex + '-8', 'btn' + rowIndex + '-21'];
            break;
          case '漏水・滞水': // 20
            buttonIds = ['btn' + rowIndex + '-6', 'btn' + rowIndex + '-14', 'btn' + rowIndex + '-15', 'btn' + rowIndex + '-16', 'btn' + rowIndex + '-17',
                         'btn' + rowIndex + '-21'];
            break;
          case '異常な音・振動': // 21
            buttonIds = ['btn' + rowIndex + '-6', 'btn' + rowIndex + '-7', 'btn' + rowIndex + '-8', 'btn' + rowIndex + '-21'];
            break;
          case '異常なたわみ': // 22
            buttonIds = ['btn' + rowIndex + '-6', 'btn' + rowIndex + '-7', 'btn' + rowIndex + '-8', 'btn' + rowIndex + '-21'];
            break;
          case '変形・欠損': // 23
            buttonIds = ['btn' + rowIndex + '-1', 'btn' + rowIndex + '-7', 'btn' + rowIndex + '-8', 'btn' + rowIndex + '-21'];
            break;
          case '土砂詰まり': // 24
            buttonIds = ['btn' + rowIndex + '-14', 'btn' + rowIndex + '-15', 'btn' + rowIndex + '-17', 'btn' + rowIndex + '-20', 'btn' + rowIndex + '-21'];
            break;
          case '沈下・移動・傾斜': // 25
            buttonIds = ['btn' + rowIndex + '-6', 'btn' + rowIndex + '-7', 'btn' + rowIndex + '-8', 'btn' + rowIndex + '-21'];
            break;
          case '洗掘': // 26
            buttonIds = ['btn' + rowIndex + '-1', 'btn' + rowIndex + '-7', 'btn' + rowIndex + '-8', 'btn' + rowIndex + '-21'];
            break;
          default:
            console.log('Unexpected value');
        }
      }
      showButtons(buttonIds);
    }

    // 仮のitem.damage_name.0の値、実際の値はサーバーなどから取得してください
    let rows = document.querySelectorAll("tbody tr"); // tbody内のすべての行を取得
    rows.forEach((row, index) => {
        let cells = row.querySelectorAll("td"); // 行内のすべてのセルを取得
        if (cells.length >= 3) { // 3列目が存在するか確認
            let damageName = cells[2].textContent;
        
            // 正規表現で [ の前の部分を抽出
            let matches = damageName.match(/^[^\[]+/);
            if (matches) { // マッチする部分があるか確認
                damageName = matches[0].trim(); // 空白を取り除いて格納
            }

            console.log("log:", damageName); // 3列目のデータを表示（インデックス 2 が 3 列目）

            // damageNameに基づいてボタンの表示を更新
            updateButtonVisibility(row, damageName, index + 1);
        }
    });

    // フォントサイズの調整
    function adjustFontSize(element) {
      let fontSize = parseInt(window.getComputedStyle(element).fontSize);
      const minFontSize = 8; // 最小フォントサイズを定義
      while (element.scrollWidth > element.clientWidth && fontSize > minFontSize) {
          fontSize--;
          element.style.fontSize = fontSize + 'px';
      }
    }

    document.addEventListener('DOMContentLoaded', function() {
        const buttons = document.querySelectorAll('.btn');
        buttons.forEach(adjustFontSize);
    });
    // テキストエリアの値を変更
</script>

{% endblock content %}