<!-- table.html -->
{% extends "base.html" %}

{% block title %}損傷一覧{% endblock title %}
{% block h1 %}損傷一覧{% endblock %}

{% block content %}
<head>
    <link href="https://cdn.datatables.net/v/dt/jq-3.6.0/dt-1.13.4/datatables.min.css" rel="stylesheet"/>
    <script src="https://cdn.datatables.net/v/dt/jq-3.6.0/dt-1.13.4/datatables.min.js"></script>
</head>
<body>
    <table class="my-table">
        <thead>
            <tr>
                <th>損傷箇所</th>
                <th>損傷種類</th>
                <th>写真番号</th>
                <th>写真表示</th>
            </tr>
        </thead>
        <tbody>
            {% for bridge in damage_table %}
            <tr>
                <td>{{ bridge.first }}</td>
                <td>{{ bridge.second }}</td>
                <td>{{ bridge.third }}</td>
                <td>{{ bridge.last }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        $(document).ready(function() {
            $('.my-table').DataTable({});
        })
    </script>
</body>
{% endblock %}