<!-- table.html -->
{% extends "base.html" %}

{% block title %}Table Example{% endblock title %}
{% block h1 %}Table Example{% endblock %}

{% block content %}
<body>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            {% for person in people %}
            <tr>
                <td>{{ person.name }}</td>
                <td>{{ person.age }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}