a {
  text-decoration: none;
}

.field {
  display: flex;
}

.sidebar {
  position: fixed;
  padding-top: 0;
  left: 0;
  width: 300px;  /* バーの幅を適切な値に指定する */
  height: 125%; /* バーの高さを画面の高さに合わせる */
  background-color: #f8f9fa;
  color: #333;
  width: 200px;
  z-index: 1000;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
}

.sidebar ul li a:hover {
  color: #f00;
}